
 .jhgsdleft {
        width: 392px
    }

    .paimingnjhnjd.ba {
        height: 892px !important
    }

    .dfgdfyuxe li {
        line-height: 40px;
    }

    .jhddfrtt {
        width: 6px;
        display: inline-block;
        height: 6px;
        border: 1px solid #2FFFFF
    }

    .crfttyydser {
        position: relative;
        left: -80px
    }

    .jjhhddrtyyur {
        width: 210px;
        height: 260px;
        position: absolute;
        right: 20px;
        bottom: -40px;
    }

    .jhjdsftys {
        width: 50px;
        line-height: 20px;
    }

    .jjsrrrtyxe {
        width: 0%;
        height: 20px;
        background: #C6513E
    }

    .jjhhddrtyyur li {
        margin-bottom: 14px;
    }

    .jjhhddrtyyur li:nth-child(2) .jjsrrrtyxe {
        background: #8C400C
    }

    .jjhhddrtyyur li:nth-child(3) .jjsrrrtyxe {
        background: #A6760C
    }

    .jjhhddrtyyur li:nth-child(4) .jjsrrrtyxe {
        background: #FFF008
    }

    .jjhhddrtyyur li:nth-child(5) .jjsrrrtyxe {
        background: #FFFC8A
    }

    .dfdrtyset {
        width: 630px !important;
    }

    .sdsftyxe {
        background: #043475;
        display: inline-block;
        width: 61px;
        height: 25px;
        text-align: center;
        line-height: 27px;
    }

    .gfyuuert {
        line-height: 27px;
        width: 160px;
    }

    .kjnjdsftys li {
        margin-bottom: 20px;
    }

    .jjddrttyw.ba {
        height: 290px !important
    }

    .jjddrttyw.bb {
        border-radius: 0;
        height: 266px !important
    }
      .jjddrttyw.bc {
        height: 304px !important;
          border-radius: 0;
          border-bottom-right-radius: 40px
    }

    .mjnjdfdtyser {
        height: 250px;
        padding: 0px 20px
    }
    .dfdstyryuus{
        height: 230px;
        position: relative;
        top: -20px
    }
    .dfrtyxert.nm{
        border-radius: 0 
    }
