body {
    background: #050C2F;
/*    min-width: 1600px;*/
}

.dsfdsf_se {
    position: absolute;
    content: "";
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: 10px;
    border: 1px solid #48EDFE;
    clip: rect(0, 30px, 30px, 0px)
}
/* clip: rect(160px, 531px, 531px, 0px) 1 上 右*/
.dsfdsf_se.ab {
    clip: rect(0px, 260px, 30px, 220px)
}

.dsfdsf_se.ac {
    clip: rect(800px, 820px, 836px, 0px)
}

.dsfdf_jh_dr .dsfdsf_se.ab {
    clip: rect(0, 130px, 30px, 70px)
}

.dsfdf_jh_dr .dsfdsf_se.ac {
    clip: rect(100px, 30px, 130px, 0px)
}

.dsfdf_jh_dr .dsfdsf_se.ad {
    clip: rect(105px, 130px, 136px, 80px)
}

.dsfdsf_deert .dsfdsf_se.ac {
    clip: rect(200px, 30px, 230px, 0px)
}

.dsfdsf_deert .dsfdsf_se.ab {
    clip: rect(0, 531px, 30px, 490px)
}

.dsfdsf_deert .dsfdsf_se.ad {
    clip: rect(190px, 531px, 531px, 500px)
}

.dsfdsfd_deert.ab .dsfdsf_se.ab {
     clip: rect(0, 531px, 30px, 500px)
}