.sd_df_der {
    height: 65px;
    background: #000
}

.sd_jhj_d {
    position: absolute;
    left: 20px;
    top: 15px;
    width: 140px;
}

.el-aside {
    background: #47484B
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 78px;
    height: 78px;
    line-height: 78px !important;
    text-align: center;
}

.avatar {
    width: 78px;
    height: 78px;
    display: block;
}

.el-table tbody td,
.el-table tbody th {
    padding: 8px 0px !important
}

.el-menu-item-group__title {
    padding: 0 !important
}

.el-menu {
    border: 0px !important;
}

.hg_deet {
    line-height: 1;
    margin-top: 10px;
}

.ql-container.ql-snow,
.ql-editor {
    min-height: 200px;
    max-height: 400px;
}

.ql-editor {
    max-height: 390px;
}

.sddf_drrtimg .el-dialog__header {
    display: none
}

.el-dialog__body {
    padding-top: 10px !important;
}

.el-dialog__header {
    padding-bottom: 0px !important;
}


.sd_jh_wer {
    width: 600px;

}

.sd_jh_wer.ab {
    width: 1200px;
}
