body {
    background: #E1E7EB;
    padding-bottom: 80px;
}

.dx_body {
    padding-top: 45px;
}

.sdf_kj_dert {
    padding-left: 20px;
    line-height: 40px;
}

.sd_jjh_der {
    position: relative;
    top: 2px;
}

.dsf_jjh_dert {
    background: #F5F5F5 !important;
}

.sdf_jh_df {
    line-height: 1.6
}

.lijiyuding {
    background: #fe7c18;
    color: #fff;
    border: 0px;
}

.van-number-keyboard.van-number-keyboard--default {
    z-index: 10000 !important
}



.sd_jh_SDd {
    text-align: center;
    border: 1px solid #FE7C17;
    color: #FE7C17;
    line-height: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.sd_jh_SDd.act {
    background: #FE7C17;
    color: #fff
}

.sdf_kj_dert.ab {
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 100;
    background: #fff;
}

.lvdh {
    background: #1E9FEE;
}

.lvdh * {
    color: #fff !important
}


.ssd_eeer {
    line-height: 21px;
}

.sd_kjj_der {
    width: 130px;
}

.van-tabs__line {
    background: #1E9FEE
}

.van-button--warning {
    background: #FE7C17;
}

.van-button--warning.van-button--plain {
    background: #fff;
    color: #FE7C17;
    border: 1px solid #FE7C17;
}


.dx_sddertrs {
    padding-top: 0 !important
}

.dx_sddertrs .van-tabs__wrap.van-hairline--top-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 45px !important;

}

.sdf_jjh_deer {
    background: #1E9FEE
}

.sdf_jkj_dert button {
    height: 35px;
    line-height: 35px;
}
